{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}
{% block ocplatform_body %}
    <h2>Ajouter une annonce</h2>
    <p>
        Vous pouvez ajouter une annonce, faites bien attention à faire une description claire et concise.
    </p>
    {{ include("OCPlatformBundle:Advert:form.html.twig") }}
    <p>
        <a href="{{ path('oc_platform_home') }}" class="btn btn-secondary">
            <i class="fa fa-step-backward"></i>
            Retour à l'accueil
        </a>
    </p>
{% endblock %}