
{# On laisse vide la vue pour l'instant on comblera plus tard lorsqu'on saura afficher un formulaire #}
<div class="card">
    <div class="card-header">
        <h3>Formulaire d'annonce</h3>
    </div>
    <div class="card-block">
        {{ form(form) }}
    </div>
</div>